<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><TMPL_VAR PAGE_TITLE></title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="main">

	<h1><TMPL_VAR PAGE_HEADER></h1>

</body>

</html>
